<div class="navbar">
  <div class="nav-left">
    <a href="/" id="nav-home">Home</a>
    <a href="/pastes.html" id="nav-pastes">Pastes</a>
    <a href="/users.html" id="nav-users">Users</a>
    <a href="/profile.html" id="profileLink" class="hidden">Profile</a>
  </div>
  <div class="nav-right">
    <span>● <span id="onlineUsers">0</span> online</span>
    <span onclick="showLogin()" id="loginBtn">Login</span>
    <span onclick="handleLogout()" id="logoutBtn" class="hidden">Logout</span>
  </div>
</div>